<!DOCTYPE html>
<html>
<head>
	<title>SMS</title>
</head>
<body>
  <h1>A SMS exercise for 9.5</h1>
  	<p>Click <a href="city/new">here</a> to create a new DBC city.</p>
	<p>Here's an example management system that I'm working on.</p>
	<h2>Student Names...</h2>
	<p> 
	<% @students.each do |student| %>
	<%= p student[1] %><br>
	<% end %>
	</p>
 
</body>
</html>
