#octopus {
	margin: 20%;
    position: absolute;
    z-index: -1
    
}
#glasses {
	margin: 20%;
    position: relative;
    top: -250px;
    left: -7%;
    z-index: 1
}
#hat {
	margin: 20%;
    position: relative;
    top: -280px;
    left: -50%;
    z-index: 1
}